In [14]:
a = 4

In [15]:
b = 9

In [16]:
a,b=b,a

In [17]:
a

9

In [18]:
b

4

## Conditional Statments
- if
- if else
- elif
- Nested if

In [ ]:
# if Syntax
if condition:
    statment1
    statment2

In [10]:
# Single line Comment

In [ ]:
"""This is
multi
line comment"""

In [11]:
'''This is also a
multi line
comment'''

'This is also a\nmulti line\ncomment'

In [12]:
# print data to user/Screen
print("Hello World")

Hello World

In [13]:
# Input from User
# input() # String is default input type
name=input("Enter Your Name: ")

Enter Your Name: narayana

In [14]:
name

'narayana'

In [15]:
# find Data type of varible/Value
type(name)

str

In [19]:
marks= int(input("Enter Marks= "))

Enter Marks= 84

In [17]:
type(marks)

int

In [20]:
# Dynamic Float Value
temp = float(input("Enter float"))

Enter float4.6

In [21]:
temp

4.6

In [23]:
abcd = int(float(input("Enter value=")))

Enter value=45621.215

In [24]:
abcd

45621

In [26]:
# given number is even
# if Example

n = 8
if n%2==0:
    print('Even Number')

Even Number

In [28]:
n= int(input("Enter Number"))
if n%2==0: # {
    print("Even Num...")   #}
print("I am out If Block")

Enter Number7

In [1]:
# if else Example
# print given number is a Even or Odd Num
temp = input("Enter NUm")
temp1=int(temp)
if temp1%2==0:
     print("Even Number")
else:
    print("Odd Number")
    print("I have tab space at left side so that I am in else block")

Enter NUm61
Odd Number
I have tab space at left side so that I am in else block

In [3]:
# Print given number is Positive Or Negative NUm
i= int(input("Enter Number"))
if i>0:
    print("Positive Num")
else:
    print("Negative")

Enter Number-7
Negative

In [9]:
# Elif Example
percentage= int(input("Enter Per: "))
if percentage>=90:
    print("A")
elif percentage>=80:
    print("B")
elif percentage>=70:
    print("C")
elif percentage>=60:
    print("D")
else:
    print("Fail")

Enter Per: 59
Fail

In [3]:
# Nested If Example
'''
if condition1:
    if condition2:
        if condition3:
            .....
'''
expected=45
n= int(input("Enter Num"))
if n>0:
    print("Given Num is Position Number")
    if expected<n:
        print("U Enter value is High")
        print("U R Failed")
    if expected>n:
        print("U Enter value is Lowest")
        print("U R Failed")
    if expected==n:
        print("U R Win")
else:
    print("U Entered Value is Negative")
    print("U R Failed.")

Enter Num45
Given Num is Position Number
U R Win

## Iterations
- for loop
- while loop

In [4]:
# for Loop Syntax
# C language For loop Synatx
#for(intialization;condition;increment/Decrement)

# Python for Loop Syntax
# for(condition)
# for(intialization,condition)
# for(intialization;condition;increment/Decrement)

In [5]:
# print 10 numbers using for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
# print 5 to 15 numbers using for loop
for temp in range(5,15+1):
    print(temp)

5
6
7
8
9
10
11
12
13
14
15

In [7]:
for j in range(20,10+20+5+1,2):
    print(j)

20
22
24
26
28
30
32
34

In [8]:
for kk in range(10,1,-1):
    print(kk)

10
9
8
7
6
5
4
3
2

In [12]:
for i in range(1,11):
    print("2*",i,'=',2*i)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

### TASK
- print N numbers tables