Today Agenda:

- Comprehensions
- Iterators 
- Generators

## Comprehension:

- It is a process of creating new sequence(list comprehension,dict compresion,set comprehension) from exiting sequence(list,tuples,dictionary,sets)
- Less memory
- Less code
- Easy to understand

### Types of comprehensions

- List comprehension
- Dictionary comprehension
- set comprehension
- Generator comprehension

In [1]:
# List
mylist=[29,36,2,1,5,6,8,9]
li1=[]
for i in mylist:
    if i%2==0:
        li1.append(i)
print(li1)

[36, 2, 6, 8]

In [6]:
# List Comprehension
# Syn:
#[o/p loops condi ]
mylist1=[29,36,2,1,5,6,8,9]
mylist2=[i for i in mylist1 if i%2==0] # list comprehension
print(mylist2)

[36, 2, 6, 8]

In [7]:
# List
mylist1=[29,36,2,1,5,6,8,9]
li2=[i if i%2==0 else "ODD" for i in mylist]
li2

['ODD', 36, 2, 'ODD', 'ODD', 6, 8, 'ODD']

In [8]:
# List
mylist1=[29,36,2,1,5,6,8,9]
li2=[i if i%2!=0 else "EVEN" for i in mylist]
li2

[29, 'EVEN', 'EVEN', 1, 5, 'EVEN', 'EVEN', 9]

In [20]:
# List
li1=[29,36,2,1,6,9,75]
li2=["even" if i%2==0 else "odd" for i in li1]
print(li2)

['odd', 'even', 'even', 'odd', 'even', 'odd', 'odd']

In [14]:
a=[i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#range
a1=[i for i in range(1,10)]
a1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
a2=[i for i in range(1,11)]
a2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
a3=[i**2 for i in range(1,11)]
a3

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [19]:
mylist1=[29,36,2,1,5,6,8,9]
[x*10 for x in mylist1]

[290, 360, 20, 10, 50, 60, 80, 90]

In [21]:
# Change the list values into upper case
words=["indupriya","mouni","a","APSSDC","Surya","Satya Narayana","Lucky"]
[x.upper() for x in words]

['INDUPRIYA', 'MOUNI', 'A', 'APSSDC', 'SURYA', 'SATYA NARAYANA', 'LUCKY']

In [22]:
# Change the list values into title case
[x.title() for x in words]

['Indupriya', 'Mouni', 'A', 'Apssdc', 'Surya', 'Satya Narayana', 'Lucky']

In [23]:
# Change the list values into capitalize case
[x.capitalize() for x in words]

['Indupriya', 'Mouni', 'A', 'Apssdc', 'Surya', 'Satya narayana', 'Lucky']

In [27]:
# using split method

b=["python programming","Indu Priya","APSSDC","PythonLanguage","python class","python","mypython"]
li=[]
for i in b:
    for j in i.split():
        li.append(j)
print(li)

['python', 'programming', 'Indu', 'Priya', 'APSSDC', 'PythonLanguage', 'python', 'class', 'python', 'mypython']

In [29]:
# Using list comprhension
z=[j for i in b for j in i.split()]
print(z)

['python', 'programming', 'Indu', 'Priya', 'APSSDC', 'PythonLanguage', 'python', 'class', 'python', 'mypython']

In [30]:
b2=[[i+j for i in range(1,11)] for j in range(1,11)]
b2

[[2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
 [3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
 [4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
 [5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
 [6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
 [7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
 [9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]]

In [122]:
b2=[[i*j for i in range(1,11)] for j in range(1,11)]
b2

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [123]:
b2=[[i/j for i in range(1,11)] for j in range(1,11)]
b2

[[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0],
 [0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0],
 [0.3333333333333333,
  0.6666666666666666,
  1.0,
  1.3333333333333333,
  1.6666666666666667,
  2.0,
  2.3333333333333335,
  2.6666666666666665,
  3.0,
  3.3333333333333335],
 [0.25, 0.5, 0.75, 1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5],
 [0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0],
 [0.16666666666666666,
  0.3333333333333333,
  0.5,
  0.6666666666666666,
  0.8333333333333334,
  1.0,
  1.1666666666666667,
  1.3333333333333333,
  1.5,
  1.6666666666666667],
 [0.14285714285714285,
  0.2857142857142857,
  0.42857142857142855,
  0.5714285714285714,
  0.7142857142857143,
  0.8571428571428571,
  1.0,
  1.1428571428571428,
  1.2857142857142858,
  1.4285714285714286],
 [0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1.0, 1.125, 1.25],
 [0.1111111111111111,
  0.2222222222222222,
  0.3333333333333333,
  0.4444444444444444,
  0.5555555555555556,
  0.6666666666666666,
  0.7777777777777778,
  0.8888888888888888,
  1.0,
  1.1111111111111112],
 [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]]

In [ ]:
i= 1,2,3,4,5,6,7,8,9,10
j=1,2,3,4,5,6,7,8,9,10

i+j

1 +1
1+2
1+3
1+4
.....
...
2+1
2+2
...

10+1
..
..
10+10

## Dictionary comprehension

In [32]:
#syn
# {key:value}

mydict={i:i  for i in range(50,101) }
print(mydict)

{50: 50, 51: 51, 52: 52, 53: 53, 54: 54, 55: 55, 56: 56, 57: 57, 58: 58, 59: 59, 60: 60, 61: 61, 62: 62, 63: 63, 64: 64, 65: 65, 66: 66, 67: 67, 68: 68, 69: 69, 70: 70, 71: 71, 72: 72, 73: 73, 74: 74, 75: 75, 76: 76, 77: 77, 78: 78, 79: 79, 80: 80, 81: 81, 82: 82, 83: 83, 84: 84, 85: 85, 86: 86, 87: 87, 88: 88, 89: 89, 90: 90, 91: 91, 92: 92, 93: 93, 94: 94, 95: 95, 96: 96, 97: 97, 98: 98, 99: 99, 100: 100}

In [33]:
mydict={i:i**2  for i in range(50,101) }
print(mydict)

{50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [34]:
mydict={i:i**2  for i in range(1,101) }
print(mydict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [35]:
mydict={i:i**2  for i in range(1,101) if i%2==0} # only even values
print(mydict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400, 22: 484, 24: 576, 26: 676, 28: 784, 30: 900, 32: 1024, 34: 1156, 36: 1296, 38: 1444, 40: 1600, 42: 1764, 44: 1936, 46: 2116, 48: 2304, 50: 2500, 52: 2704, 54: 2916, 56: 3136, 58: 3364, 60: 3600, 62: 3844, 64: 4096, 66: 4356, 68: 4624, 70: 4900, 72: 5184, 74: 5476, 76: 5776, 78: 6084, 80: 6400, 82: 6724, 84: 7056, 86: 7396, 88: 7744, 90: 8100, 92: 8464, 94: 8836, 96: 9216, 98: 9604, 100: 10000}

In [37]:
mydict={i:i**2  for i in range(1,101) if i%2!=0}# odd values
print(mydict)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361, 21: 441, 23: 529, 25: 625, 27: 729, 29: 841, 31: 961, 33: 1089, 35: 1225, 37: 1369, 39: 1521, 41: 1681, 43: 1849, 45: 2025, 47: 2209, 49: 2401, 51: 2601, 53: 2809, 55: 3025, 57: 3249, 59: 3481, 61: 3721, 63: 3969, 65: 4225, 67: 4489, 69: 4761, 71: 5041, 73: 5329, 75: 5625, 77: 5929, 79: 6241, 81: 6561, 83: 6889, 85: 7225, 87: 7569, 89: 7921, 91: 8281, 93: 8649, 95: 9025, 97: 9409, 99: 9801}

In [39]:
# dictionary example

id=["161FA0616","121162102002002","13H71A0261","13H71A0261","123"]
names=["Prasanna kumar","Lalitha","Kavya","Chiranjeevi","num"]
dict={}
for (key,value) in zip(id,names):
    dict[key]=value
dict

{'161FA0616': 'Prasanna kumar',
 '121162102002002': 'Lalitha',
 '13H71A0261': 'Chiranjeevi',
 '123': 'num'}

In [49]:
# dictionary example
id=["123","161FA0616","121162102002002","13H71A0261","13H71A0261","123"] #key value take unique id 
names=["abc","Prasanna kumar","Lalitha","Kavya","Chiranjeevi","num"]
dict={}
for (key,value) in zip(id,names):
    dict[key]=value
dict

{'123': 'num',
 '161FA0616': 'Prasanna kumar',
 '121162102002002': 'Lalitha',
 '13H71A0261': 'Chiranjeevi'}

In [51]:
# dictionary example using dictionary comprehension
dict={key:value for (key,value) in zip(id,names)}
print(dict)

{'123': 'num', '161FA0616': 'Prasanna kumar', '121162102002002': 'Lalitha', '13H71A0261': 'Chiranjeevi'}

In [44]:
# dictionary example
num1=[1,2,3,4,5,6,7,89,0]
num2=[0,9,8,6,4,0,15,7,2]
dict2={}
for(key,value) in zip(num1,num2):
    dict2[key]=value
dict2

{1: 0, 2: 9, 3: 8, 4: 6, 5: 4, 6: 0, 7: 15, 89: 7, 0: 2}

In [47]:
# dictionary example using dictionary comprehension
num1=[1,2,3,4,5,6,7,89,0]
num2=[0,9,8,6,4,0,15,7,2]
dict={key:value for (key,value) in zip(num1,num2)}
print(dict)

{1: 0, 2: 9, 3: 8, 4: 6, 5: 4, 6: 0, 7: 15, 89: 7, 0: 2}

In [46]:
# dictionary example using dictionary comprehension
# squares
square={i:i**2 for i in range(11)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [52]:
# Set{} comprehension
{i**2 for i in range (1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [58]:
# set automatically change ascending order but in this comprehension it not follow 
line="Hi good evening , welcome to APSSDC Python Programming class.., conducted by InduPriya"
word=line.upper().replace("."," ").replace(","," ").split()
words={i for i in word}
print(words)

{'CLASS', 'PYTHON', 'WELCOME', 'INDUPRIYA', 'PROGRAMMING', 'BY', 'CONDUCTED', 'TO', 'EVENING', 'APSSDC', 'GOOD', 'HI'}

In [59]:
word1={word for word in words if len(word)>4}
word1

{'APSSDC',
 'CLASS',
 'CONDUCTED',
 'EVENING',
 'INDUPRIYA',
 'PROGRAMMING',
 'PYTHON',
 'WELCOME'}

In [66]:
# Generator Comprehension
# It is also acts as a list comprehension but here we use paranthesis
mylist=[9,8,7,6,5,48,3,6,8]
s=(i for i in mylist)
print(s)
print(type(s))
for i in s:
    print(i)

<generator object <genexpr> at 0x00000249A3FFFB88>
<class 'generator'>
9
8
7
6
5
48
3
6
8

In [64]:
mylist=[9,8,7,6,5,48,3,6,8]
s=(i**2 for i in mylist)
#print(s)
for i in s:
    print(i)

81
64
49
36
25
2304
9
36
64

In [67]:
# Why we have no tuple comprehension

x=(i for i in range(10))
x
# it takes generator object
# thats why we didnt have tuple comprehension

In [ ]:
# Iterators and Generators

[1.2.3.4.5.6,7.8,8.9]
# it store the values inside
i
1
2
3
4
5.6
break 
continue



# in this

In [ ]:
# Iterator
- It will contain number elements and we can access elements as per requirsment
- iter and next

In [79]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [70]:
for i in range(10,101):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [76]:
for i in range(1,10):
    print(i,end=" ")
    if i==5:
        break

1 2 3 4 5

In [78]:
mystr="InduPriya"
for i in mystr:
    print(i)

I
n
d
u
P
r
i
y
a

In [80]:
mystr="InduPriya"
str1=iter(mystr)
next(str1)

'I'

In [81]:
next(str1)

'n'

In [82]:
next(str1)

'd'

In [83]:
next(str1)

'u'

In [84]:
next(str1)

'P'

In [85]:
next(str1)

'r'

In [86]:
next(str1)

'i'

In [90]:
next(str1)

StopIteration:

In [91]:
next(str1)

StopIteration:

In [92]:
str3="I love my INDIA"
next(str3)

TypeError: 'str' object is not an iterator

In [97]:
mystr3="I love my INDIA"
str1=iter(mystr3)
next(str1)

'I'

In [98]:
next(str1)

' '

In [100]:
next(str1)

'o'

In [99]:
next(str1)

'l'

In [101]:
next(str1)

'v'

In [102]:
next(str1)

'e'

In [103]:
next(str1)

' '

In [104]:
next(str1)

'm'

In [105]:
next(str1)

'y'

In [106]:
next(str1)

' '

In [108]:
next(str1)+"NDIA"

'NNDIA'

In [109]:
next(str1)

'D'

In [110]:
next(str1)

'I'

In [111]:
next(str1)

'A'

In [112]:
next(str1)

StopIteration:

In [113]:
a="APSSDC"
b=iter(a)
next(b)

'A'

In [114]:
next(b)

'P'

In [115]:
next(b)+"PYTHon"

'SPYTHon'

## Generators

- Generator is also a function but in place of return statement we are using yield

In [116]:
def gen():
    return 1
    return 2
    return 3
for i in gen():
    print(i)
gen()

TypeError: 'int' object is not iterable

In [117]:
def gen2():
    yield 1
    yield 2
    yield 3 
    yield 4
for i in gen2():
    print(i)

1
2
3
4

In [118]:
def gen2():
    yield 1
    yield 2
    yield 3 
    yield 4
a=gen2()
print(a.__next__())

1

In [119]:
print(a.__next__())

2

In [120]:
print(a.__next__())

3

In [121]:
print(a.__next__())

4