## Tuple
- immutable data type
- collection of elemnets/objects
- ()

In [1]:
# Create Empty tuple in Python 
a = ()

In [3]:
print(type(a))

<class 'tuple'>

In [4]:
b = tuple()
print(type(b))

<class 'tuple'>

In [5]:
c = 1,2,3,4,5

In [6]:
print(type(c))

<class 'tuple'>

In [9]:
d = "hi",123
print(type(d))

<class 'tuple'>

In [10]:
# Access Values from tuple
a=(1,2,3,4.5,96)

In [11]:
a[0]

1

In [12]:
a[5-3]

3

In [13]:
a[4/2]

TypeError: tuple indices must be integers or slices, not float

In [14]:
a[4//2]

3

In [15]:
a[int(4/2)]

3

In [16]:
a[-1]

96

In [17]:
a[-1-1]

4.5

In [18]:
a[5-7]

4.5

In [19]:
# Updation
a[0]="hello"

TypeError: 'tuple' object does not support item assignment

In [21]:
# Concatination Operator '+'
a+a+a

(1, 2, 3, 4.5, 96, 1, 2, 3, 4.5, 96, 1, 2, 3, 4.5, 96)

In [22]:
a

(1, 2, 3, 4.5, 96)

In [23]:
id(a)

2590749827296

In [24]:
temp=a+a+a

In [25]:
id(temp)

2590750578944

In [26]:
# Replication (*)
a

(1, 2, 3, 4.5, 96)

In [27]:
a*4

(1, 2, 3, 4.5, 96, 1, 2, 3, 4.5, 96, 1, 2, 3, 4.5, 96, 1, 2, 3, 4.5, 96)

In [29]:
a*int(1.2)

(1, 2, 3, 4.5, 96)

In [30]:
b=(1,2,3,"hello",('a','b','c',('abc','xyz')))

In [31]:
b[4]

('a', 'b', 'c', ('abc', 'xyz'))

In [32]:
b[4][1]

'b'

In [33]:
b[4][3]

('abc', 'xyz')

In [34]:
b[4][3][0]

'abc'

In [35]:
b[-1]

('a', 'b', 'c', ('abc', 'xyz'))

In [36]:
b[-1][-1]

('abc', 'xyz')

In [37]:
b[-1][-1][-2]

'abc'

In [38]:
c=(121,123,)

In [39]:
c

(121, 123)

In [40]:
# Using range() create tuple
temp = tuple(range(1,20))

In [41]:
temp

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [42]:
temp1= tuple(range(50,100+1,2))

In [43]:
print(temp1)

(50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100)

In [44]:
# sorted()
t=40,10,30,20
type(t)

tuple

In [45]:
t

(40, 10, 30, 20)

In [46]:
t1=sorted(t) # default sorting is Ascending Order

In [47]:
t1

[10, 20, 30, 40]

In [48]:
t1=sorted(t,reverse= True)

In [49]:
t1

[40, 30, 20, 10]

In [50]:
t1=sorted(t,reverse= False)

In [51]:
t1

[10, 20, 30, 40]

In [52]:
# Tuple Packing
name="narayana"
roll="13a85a0111"
mobile=9696969696
college="abc college"
info = name,roll,mobile,college

In [53]:
info

('narayana', '13a85a0111', 9696969696, 'abc college')

In [54]:
# Tuple Unpacking
temp =(10,20,3.5,80)
a,b,c,d =temp
a

10

In [55]:
b

20

In [56]:
c

3.5

In [57]:
d

80

In [58]:
# Slicing Operator ':'
temp

(10, 20, 3.5, 80)

In [59]:
temp[1:]

(20, 3.5, 80)

In [60]:
print(temp[2:200])

(3.5, 80)

In [61]:
temp[200]

IndexError: tuple index out of range

In [62]:
temp[::-1]

(80, 3.5, 20, 10)

In [63]:
# Update/Modification of Tuple
# 1) Convert Tuple to List
# 2) Perform operation on list
# 3) Convert list to Tuple

In [64]:
temp

(10, 20, 3.5, 80)

In [65]:
temp=list(temp)

In [66]:
temp

[10, 20, 3.5, 80]

In [67]:
temp[1]="hello check me"

In [68]:
temp

[10, 'hello check me', 3.5, 80]

In [69]:
temp=tuple(temp)

In [70]:
temp

(10, 'hello check me', 3.5, 80)

In [71]:
# Tuple Methods
# dir(variable)
# dir(value)
# dir(predefindfunction)

In [73]:
print(dir(temp))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [76]:
print(dir((1,2,3)))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [75]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [77]:
# Tuple Methods
# count()

In [78]:
t = (1,21,3,4,5,2,147,8,6,2,141)

In [79]:
# Syntax of Method
# variblename.methodname()
# value.methodname()

In [80]:
t.count(3)

1

In [81]:
t.count(99)

0

In [82]:
t.index(21)

1

In [83]:
t.index(100)

ValueError: tuple.index(x): x not in tuple

In [84]:
# Syntax of Deletion
# del var1,var2,var3[1],var3[1:9],...

In [ ]:
del temp

In [85]:
temp

NameError: name 'temp' is not defined

##  Dictionary
- collection of items
- Every Item is a pair of Kay & Value
- Key is a immutable Data type & act like a index
- Value is a Mutable Data type
- {}
- Every item seperated with ,
- don't Default index
- Key & values are seperated with ':'

In [86]:
# Create Empty Dict
a= {}

In [87]:
print(type(a))

<class 'dict'>

In [88]:
b= dict()
print(type(b))

<class 'dict'>

In [89]:
temp ={"name":"narayana","rollno":"18a50501","mobile":8596741232}

In [90]:
temp

{'name': 'narayana', 'rollno': '18a50501', 'mobile': 8596741232}

In [91]:
temp["name"]

'narayana'

In [92]:
temp['mobile']

8596741232

In [93]:
# Dict Updation
temp['mobile']= 1234567890

In [94]:
temp['mobile']

1234567890

In [95]:
# Deletion in Dict

In [98]:
del temp

In [99]:
temp

NameError: name 'temp' is not defined

## TASKS
- Words Frequency
- Character Frequency

Hello this is python programming
{"Hello":1,"this":1}
{"H":1,'l':2}